<%= render 'layouts/header' %>
<%= render 'layouts/top-navigation' %>
<div class="row margin-10">
	<%= render 'layouts/navigation' %>
	<div class="medium-7 large-7 columns">
		<%= render 'layouts/breadcrumb' %>
		<div class="row">
			<div class="large-12 columns">
				<%= yield %>
			</div>
		</div>
	</div>
	<%= render 'layouts/sidebar'%>
</div>
<%= render 'layouts/footer'%>
